# Created by https://www.gitignore.io/api/eclipse
# Edited by Kristoffer Dominic Amora (https://github.com/coolnumber9)
# Edit at https://www.gitignore.io/?templates=eclipse

### Eclipse ###

stm32l0x3-gpio-driver/.metadata
stm32l0x3-gpio-driver/bin/
stm32l0x3-gpio-driver/tmp/
stm32l0x3-gpio-driver/*.tmp
stm32l0x3-gpio-driver/*.bak
stm32l0x3-gpio-driver/*.swp
stm32l0x3-gpio-driver/*~.nib
stm32l0x3-gpio-driver/local.properties
stm32l0x3-gpio-driver/.settings/
stm32l0x3-gpio-driver/.loadpath
stm32l0x3-gpio-driver/.recommenders

# External tool builders
stm32l0x3-gpio-driver/.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
stm32l0x3-gpio-driver/*.launch

# CDT-specific (C/C++ Development Tooling)
stm32l0x3-gpio-driver/.cproject

# CDT- autotools
stm32l0x3-gpio-driver/.autotools

# sbteclipse plugin
stm32l0x3-gpio-driver/.target

# Code Recommenders
stm32l0x3-gpio-driver/.recommenders/

# Annotation Processing
stm32l0x3-gpio-driver/.apt_generated/

### Eclipse Patch ###
# Eclipse Core
stm32l0x3-gpio-driver/.project

# JDT-specific (Eclipse Java Development Tools)
stm32l0x3-gpio-driver/.classpath

# Annotation Processing
stm32l0x3-gpio-driver/.apt_generated

stm32l0x3-gpio-driver/.sts4-cache/

# End of https://www.gitignore.io/api/eclipse